.faq-items-style-1 {
    max-width: 1095px;
    margin: 0 auto;
    margin-top: 55px;

  .accordion-box {
    position: relative;

    .block {
      position: relative;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 12px;
      margin-bottom: 15px;
      line-height: 1;


      .acc-btn {
        position: relative;
        font-size: 24px;
        color: $header-color;
        font-weight: 600;
        font-family: $heading-font;
        cursor: pointer;
        transition: all 500ms ease;
        @include flex;
        justify-content: space-between;
        padding: 11px 30px;
        padding-right: 14px;
        gap: 14px;

        @include breakpoint(max-xxl) {
          line-height: 1.4;
        }

        @include breakpoint(max-xxs) {
          font-size: 16px;
          padding: 10px 20px;
        }

        .icon {
          max-width: 39px;
          height: 39px;
          font-size: 16px;
          line-height: 39px;
          background-color: #F4F1EA;
          transition: all 500ms ease;
          border-radius: 50%;
          color: $header-color;
          text-align: center;
          width: 100%;

          &:before {
            content: "\f067"; 
            font-family: "Font Awesome 6 Pro";
            font-weight: 900;
            color: $header-color;
            transition: all 0.3s ease;
          }
        }
      }

      .acc-content {
        position: relative;
        display: none;
        padding: 30px 30px;
        padding-top: 22px;

         @include breakpoint(max-xxs) {
          padding: 18px 20px;
        }

        .content {
          position: relative;

          .text {
            line-height: 175%;
            font-size: 18px;
            font-weight: 400;
            color: #666666;
            max-width: 885px;

            @include breakpoint(max-xxs) {
              font-size: 15px;
            }
          }
        }
      }

      // Active block styles
      &.active-block {
        border-radius: 12px;

        .acc-btn {
          background-color: $header-color;
          border-radius: 12px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          color: $white !important;

          .icon:before {
            content: "\f068"; // minus icon when active
            color: $header-color;
          }
        }
      }
    }

    // Show content if marked current
    .block .acc-content.current {
      display: block;
    }

    .block:last-child {
      margin-bottom: 0;
    }
  }
}